<div class="sheet clear">
	<h3>Like what you see?</h3>
	<p>Subscribe to the mailing list. Absolutely no spam, just great original content on product development, delivered to your inbox.</p>

	<!-- Begin MailChimp Signup Form -->
	<div id="mc_embed_signup">
		<form action="http://databoxdigital.us7.list-manage2.com/subscribe/	post?u=1463f126919ceb27ffb528b33&amp;id=6c3bd850ce" method="post" id="mc-	embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" 	target="_blank" novalidate>
		
		<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" 	placeholder="Enter your email address">
	    <!-- real people should not fill this in and expect good things - do not 	remove this or risk form bot signups-->
	    <div style="position: absolute; left: -5000px;"><input type="text" name="	b_1463f126919ceb27ffb528b33_6c3bd850ce" value=""></div>
		<div class="clear"><input type="submit" value="Subscribe" name="subscribe" 	id="mc-embedded-subscribe" class="button"></div>
	</form>
	</div>
	<!--End mc_embed_signup-->
</div>