---
layout: default
---

<div class="sheet">

  {% include post_header.html %}

  <div class="post">
    {{ content }}
  </div>

  {% include post_footer.html %}

  <div class="pagination clearfix">
    {% if page.previous %}
      <a href="{{ page.previous.url }}" class="pull-left nav-pill"><i class="icon-chevron-left"></i>&nbsp;&nbsp;&nbsp;{{ page.previous.title }}</a>
    {% endif %}
    {% if page.next %}
      <a href="{{ page.next.url }}" class="pull-right nav-pill">{{ page.next.title }}&nbsp;&nbsp;&nbsp;<i class=" icon-chevron-right"></i></a>
    {% endif %}
  </div>
</div>

{% include signup_form.html %}
